* {
    padding: 0px;
    margin: 0px;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.navbar-custom {
    background-color: #a09f9f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-custom .nav-link {
    color: #000000;
    font-size: 1rem;
    height: 50px;
    padding: 1.5rem;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus {
    color: gold;
    background-color: purple;
}

.navbar-custom .nav-link:active {
    color: #fff;
    background-color: transparent;
}

.navbar-custom .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-custom .navbar-nav {
    margin: 0 auto;
    gap: 20px;
}


.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner_section {
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_taital2 {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.banner_taital {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
}

.services_section {
    padding: 60px 0;
}

.services_img {
    width: 100%;
    height: auto;
}

.btn_main {
    margin-top: 20px;
    text-align: center;
}

.btn_main a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn_main a:hover {
    background-color: #0056b3;
}

#carouselExampleCaptions {
    width: 1200px;
    height: 770px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

#carouselExampleCaptions .carousel-inner {
    height: 100%;
}

#carouselExampleCaptions .carousel-item img {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.choose_section {
    padding: 60px 0;
    text-align: center;
    background-color: #69696983;
}

.choose_taital {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.choose_text {
    font-size: 30px;
}

.copyright_section {
    padding: 20px 0;
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: center;
}